@model Autopilot.Models.ManageUserViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)

  <div class="wrapper" style="margin-top: -3%;">

        <!-- Main content-->
        <section class="">

            <div class="container-center animated slideInDown">

                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-key"></i>
                    </div>
                    <div class="header-title">
                        <h3>@ViewBag.Title</h3>
                        <small>
                            Please enter your new credentials.
                        </small>
                    </div>
                </div>
                <div class="panel panel-filled">
                    <div class="panel-body">
                        @if (User.Identity.IsAuthenticated == true) {
                        <div class="form-group">
                            <label class="control-label" for="OldPassword">Old Password</label>
                            @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", placeholder = "example@gmail.com" })
                            <div style="color:red">
                                @Html.ValidationMessageFor(model => model.OldPassword)
                            </div>
                            
                            
                            
                            @*<input type="text" placeholder="example@gmail.com" title="Please enter you username" required="" value="" name="username" id="username" class="form-control">*@
                            <span class="help-block small">Your unique email to application</span>
                        </div>
                        }
                        <div class="form-group">
                            <label class="control-label" for="NewPassword">New Password</label>
                            @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", @type = "password", placeholder = "******" })
                            <div style="color:red">
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                            
                           
                            @*<input type="text" placeholder="example@gmail.com" title="Please enter you username" required="" value="" name="username" id="username" class="form-control">*@
                            <span class="help-block small">Set new strong password</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="ConfirmPassword">Confirm Password</label>
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @type = "password", placeholder = "******" })
                            <div style="color:red">
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                            
                             
                            @*<input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">*@
                            <span class="help-block small">Confirm password must be similar to password</span>
                        </div>
                        <div class="btn-margin">
                            <button class="btn btn-accent  col-lg-12" type="submit">Change password</button>

                        </div>

                       
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- End main content-->
    </div>

}
@section script
{
<script>
    $(document).ready(function () {
        if ('@ViewBag.Message' != "") {
            toastr.warning('@ViewBag.Message');

        }
    });
    </script>
    }
