

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.ActionLink("Register", "Register","Account")

<a data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url=http://www.foodiecrush.com/2014/03/filet-mignon-with-porcini-mushroom-compound-butter/&media=https://s-media-cache-ak0.pinimg.com/736x/17/34/8e/17348e163a3212c06e61c41c4b22b87a.jpg&description=So%20delicious!" data-pin-height="28"></a>
@section script{
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
<script>
    
    $(document).ready(function () {
        if ('@ViewBag.message' != "") {
            console.log('@ViewBag.message');
            console.log('@ViewBag.id');

        }
    })
    </script>    
}